*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0a192f;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:400px;
    background:#102542;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.login-box h1{
    color:#4da6ff;
    text-align:center;
}

.login-box h3{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    color:white;
    display:block;
    margin-bottom:8px;
}

.input-group input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:8px;
    background:#1f4068;
    color:white;
    transition:0.3s;
}

.input-group input::placeholder{
    color:#cfcfcf;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#4da6ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#3385ff;
}

#message{
    text-align:center;
    margin-bottom:15px;
    color:#ff4d4d;
    font-weight:bold;
}