<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - Ransomware Detection System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

<div class="container">

    <div class="login-box">

        <h1>Ransomware Detection</h1>

        <h3>Prevention System</h3>

        <!-- Flash Messages -->

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <p id="message">{{ message }}</p>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <!-- Login Form -->

        <form method="POST">

            <div class="input-group">

                <label>Username</label>

                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Enter Username"
                    required>

            </div>

            <div class="input-group">

                <label>Password</label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter Password"
                    required>

            </div>

            <button type="submit">

                Login

            </button>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>

</html>